.flex { display: flex; }

.container {
  margin: auto;
  flex-direction: column;
}

aside {
  flex: 1;
}

.sidebar-menu {
  display: none;
}

.sidebar-menu nav,
.sidebar-menu a {
  display: block;
  width: 100%;
  padding: 5px 10px;
}

main {
  flex: 5;
}

.logo {
  text-align: center;
  flex: 1;
  margin: auto;
  align-content: center;
}

.logo img {
  width: 197px;
  padding: 20px;
}

.menu {
  flex: 5;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: stretch;
  align-content: stretch;
}

.menu-item {
  flex: 1;
  justify-content: center;
}

.breadcrumbs {
  display: inline-block;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 14px;
  color: #95989A;
  border-bottom: 1px solid #D5D5D5;
}

.breadcrumbs-active {
  color: #fff !important;
  background-color: #FFC744;
  padding: 5px 10px;
  border-radius: 6px;
}

.breadcrumbs p {
  font-size: 14px;
  padding-left: 10px;
  display: inline-block;
  margin-top: 12px;
}

.breadcrumbs a {
  font-size: 14px;
  color: #95989A;
}

.breadcrumbs a:hover { color: #747880; }

.search-form {
  width: 170px;
  height: 30px;
  float: right;
  margin: 5px 20px 5px 0;
  padding: 10px;
  color: #D1D1D1;
  border: 1px solid #D2D2D2;
  border-radius: 50px;
}

.products-row {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 150px;
  min-height: 345px;
  margin: 20px 10px;
  text-align: center;
}

.product img {
  width: 150px;
  border-radius: 6px;
}

.product p {
  padding: 5px;
  margin: 5px;
}

.price {
  display: block;
  margin: 5px;
}

.addtocart {
  display: inline-block;
  width: 125px;
  height: 35px;
  border-radius: 5px;
  line-height: 33px;
  margin: 5px 0 10px;
}

footer {
  margin: auto;
  width: 100%;
}



@media screen and (min-width: 1200px) {

  .container { width: 1200px; }
  footer { width: 1200px; }

}

@media screen and (min-width: 600px) {

  .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar-menu {
    display: flex;
    flex-wrap: wrap;
  }

  header { flex-direction: row; }
  
  .menu {  }

}
