body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;
  background-image: url(../img/Keiths-Comics.jpg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  color: #000;
}

.light {
  background: #FFCD3C;
  color: white;
}

.dark {
  background: #F5BA31;
  color: white;
}

.container {
  background: #fff;
}
