body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  background-color: #fff;
  background-image: url(../img/Keiths-Comics.jpg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  color: #000;
}

.light {
  background: #FFCD3C;
  color: white;
}

.dark {
  background: #F5BA31;
  color: white;
}

.container {
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  background: #fff;
}

.logo a:hover { opacity: .75; }

footer {
  background-color: #fff;
}
